
header {
width: 100%;
    height: 160px;
    background: linear-gradient(rgba(206, 212, 218, 0.33),rgba(206, 212, 218, 0.44));
}
.logo{
    position: absolute;
    left: 84px;
    top: 40px;
}

.caja_de_texto_incrip{
    width: 100%;
    height: 400px;
    background: linear-gradient(rgba(206, 212, 218, 0.44),#CED4DA);
}

/*parametros para el text area */
.texto_input{
    position: absolute;
    width: 505px;
    height: 301px;
    left: 171px;
    top: 172px;
    resize: unset;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 150%;
    border: none;
    color: #0A3871;
    background: transparent;
    outline: none;
}

/*parametros para la caja de salida y imagen*/
.salida_texto{
    position: absolute;
    width: 400px;
    height: 760px;
    left: 840px;
    top: 30px;
    background: #FFFFFF;
    box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
    border-radius: 32px;
}

#oculto{
    display: none;
}
.texto_incriptado{
    width: 361px;
    height: 638px;
    margin: 22px 16px 3px;
    position: initial;
    color: rgba(0, 0, 0, 0.7);
}
#copiar{
    background: #f1f0f0;
    color: #0A3871;
   margin: 0 35px 0 ;
}

/*imagen del dibujo*/
.dibujo{
    margin-left: 32px;
    margin-top: 160px;
    margin-right: 32px;
}

/*mensaje uno */
.mensaje_de_encontrado{
    font-weight: bold;
    margin-right: 32px;
    text-align: center;
   color: rgba(0, 0, 0, 0.66);
    font-family: Inter;
    padding-left: 32px;
}
.texto_2 {
  font-size: 16px;
    width: 350px;
}




.caja_botones{
    width: 100%;
    height: 400px;
    background: #CED4DA;;
}
.label_de_abiso{
    position: absolute;
    top: 645px;
    left: 142px;
    font-size: 11px;

}
.caja_botones ul{
    list-style: none;
    position: relative;
    top: 100px;
    left: 5%;
    display: inline-block;
    margin: 0 0 0 5px;

}
.caja_botones li{
    list-style-type: none;
    display: inline;
    padding-right: 5px;

}

.label_de_abiso:before{
    content: " \2757";
}
/*botones aqui*/

.boton_incrip{
    color: #f1f0f0;
    background: #0A3871;
    border-radius: 20px;
    width: 320px;
    height: 50px;
    box-shadow: 0 0 1px;
}

.boton_incrip:hover{
    box-shadow: 2px 4px 1px;
    transition: 1s;
}

.boton_desinc{
    color: #0A3871;
    background:  #D8DFE8;
    border-radius: 20px;
    width: 320px;
    height: 50px;
}


/****************/
.boton_desinc:hover{
    box-shadow: 2px 4px 1px;
    transition: 1s;
}


/*tableta*/
@media only screen
and (min-device-width: 768px)
and (max-device-width: 1174px)
{
    .caja_de_texto_incrip{
        height: 290px;
    }
    .label_de_abiso{
        top: 530px;
    }
    .salida_texto{
        position: absolute;
        width: 507px;
        height: 200px;
        left: 220px;
        top: 625px;
        background: #FFFFFF;
        box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
        border-radius: 32px;

    }
    .dibujo{
    display: none;
    }
.mensaje_de_encontrado{
    font-weight: bold;
    margin-right: 32px;
    text-align: center;
    color: rgba(0, 0, 0, 0.66);
    font-family: Inter;
    padding-left: 32px;
}
.texto_2{
    font-size: 16px;
    width: 400px;
    text-align: center;
    margin-left: 35px;
}

    .caja_botones{
        width: 100%;
        height: 1020px;
        background: #CED4DA;
    }
    .caja_botones ul{
        left: 10%;
    }
    #copiar{
        display: block;
        position: relative;
        top: -535px;
        margin-left: 89px;
    }
}





/*telefono*/
@media only screen
and (min-device-width: 375px)
and (max-device-width: 633px)
and (orientation: portrait)
{
    .logo{
        width: 80px;
    }
    .caja_de_texto_incrip{
        height: 290px;
    }
    .texto_input{
        top: 200px;
        font-size: 50px;
        width: 660px;
    }
    .label_de_abiso{
        top: 500px;
        font-size: 40px;
    }
    .salida_texto{
        position: absolute;
        width: 700px;
        height: 600px;
        left: 165px;
        top: 1100px;
        background: #FFFFFF;
        box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
        border-radius: 32px;
        font-size: 40px;

    }
    .dibujo{
        display: none;
    }
    .mensaje_de_encontrado{
        font-weight: bold;
        margin-right: 32px;
        text-align: center;
        color: rgba(0, 0, 0, 0.66);
        font-family: Inter;
        padding-left: 32px;
    }
    .texto_2{
        font-size: 48px;
        width: 540px;
        text-align: center;
        margin-left: 35px;
    }

    .caja_botones{
        width: 100%;
        height: 1920px;
        background: #CED4DA;
    }
    .boton_incrip{
        color: #f1f0f0;
        background: #0A3871;
        border-radius: 90px;
        width: 94%;
        height: 178px;
        font-size: 72px;
        box-shadow: 0 0 1px;
        margin: -4px -57px 100px;
    }
    .boton_desinc{
        border-radius: 90px;
        width: 94%;
        height: 178px;
        font-size: 72px;
    }
    .caja_botones ul{

     display: inline list-item;
    }
    #copiar{
        display: block;
        position: relative;
        top: -30px;
        margin-left: 30px;
    }
}

